{{- $msysRoot := trimSuffix "/etc/config.site" (env "CONFIG_SITE") -}}
{
  "env": {
    "ANTHROPIC_BASE_URL": "https://token.example.com",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "deepseek-v4-flash",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "deepseek-v4-pro[1m]",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "deepseek-v4-pro[1m]",
    "ANTHROPIC_MODEL": "deepseek-v4-pro[1m]"{{- if and (eq .chezmoi.os "windows") (ne $msysRoot "") }},
    "CLAUDE_CODE_SHELL": "{{ $msysRoot }}/usr/bin/bash.exe"{{ end }}
  },
  "theme": "auto"
}
